* {
    padding: 0;
    margin: 0;
}

.sp16pc36 {
    font-size: 36px;
}

.sp24pc48 {
    font-size: 48px;
}

.sp32pc70 {
    font-size: 70px;
}

/* タブレット以下のフォント */
@media screen and (max-width: 959px) {
    .sp16pc36 {
        font-size: 16px;
    }

    .sp24pc48 {
        font-size: 24px;
    }

    .sp32pc70 {
        font-size: 32px;
    }
}


/* -----topページのcss----- */
/* -----topページのcss----- */
.top-body {
    background-color: #fcd228;
}

.top-header {
    margin: 10px 0px;
    text-align: center;
    color: #171717;
}

.contents-wrap {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    width: 100%;
}

.contents-box {
    margin: 2%;
    padding: 2%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 29%;
    border-radius: 10px;
    background-color: #fafafa;
}

.contents-box img {
    width: 100%;
    height: auto;
}

/* タブレット以下の表示 */
@media screen and (max-width: 959px) {
    .contents-box {
        margin: 3%;
        padding: 2%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 44%;
    }
}

.top-footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-rule {
    margin: 3%;
    padding: 2%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 88%;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #fcd228;
    border-radius: 10px;
    background-color: #171717;
}



/* -----questionページのcss----- */
/* -----questionページのcss----- */
.qu-body {
    background-color: #438fbe;
}

.qu-header {
    margin: 10px 0px;
    text-align: center;
    color: #fafafa;
}

.qu-header h1 {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
}

.qu-header h1:before {
    content: '';
    position: absolute;
    bottom: -10px;
    display: inline-block;
    width: 50%;
    height: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #171717;
    border-radius: 10px;
}

.advice {
    margin: 15% 10% 10% 10%;
    text-align: center;
    color: #171717;
    position: relative;
    background-color: #fafafa;
    border: solid 4px #fcd228;
    border-radius: 0px 10px 10px 10px;
    font-weight: bold;
}

.advice-title {
    position: absolute;
    display: inline-block;
    top: -44px;
    left: -4px;
    padding: 0% 2%;
    height: 43px;
    line-height: 40px;
    background: #fcd228;
    color: #171717;
    border-radius: 5px 5px 0 0;
    background: contain;
}

.advice p {
    margin: 1%;
    padding: 0;
}

/*吹き出し(バルーン)のアウトライン始まり*/
.bln {
    width: 100%;
    margin: 5% auto;
    padding: 3%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
}

@media (max-width:959px) {
    .bln {
        padding: 2%;
    }
}

/* 左右アイコンのイメージサイズと配置 */
.bln:before {
    content: "";
    width: 150px;
    height: 150px;
    background: no-repeat left center / contain;
    /* display: inline-block; */
}

@media (max-width:959px) {
    .bln:before {
        width: 100px;
        height: 100px;
    }
}

/* 左アイコンのイメージ配置 */
.bln.boss:before {
    background-image: url(../css/images/question.png)
}

/* 右アイコンのイメージ配置 */
.bln.you:before {
    background-image: url(../css/images/answer.png)
}

/* 吹き出し中の文章アウトライン */
.says {
    position: relative;
    margin: 1rem;
    max-width: calc(100% - 150px);
    padding: .6rem 1.2rem;
    background-color: #fafafa;
    border: solid 4px #171717;
    border-radius: 10px;
}

@media (max-width:959px) {
    .says {
        margin: 1rem;
        ;
        max-width: calc(100% - 180px);
    }
}

/* 吹き出し口 */
.says::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    margin-top: -8px;
    border: 8px solid transparent;
    border-right: 10px solid #fafafa;
    z-index: 2;
}

.says::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -21px;
    margin-top: -9px;
    border: 9px solid transparent;
    border-right: 12px solid #171717;
    z-index: 1;
}

/* 右のアイコン配置指定 吹き出し反転など */
.bln.fxd--rr .says:before,
.bln.fxd--rr .says:after {
    transform: scale(-1, 1);
}

/* 右のアイコンから 吹き出し反転 */
.bln.fxd--rr .says:before {
    left: inherit;
    right: -16px;
}

.bln.fxd--rr .says:after {
    left: inherit;
    right: -21px;
}

/*吹き出内の調整用*/
.says p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

/* 右の人にする時につける flex要素 */
.fxd--rr {
    flex-direction: row-reverse;
}

/*吹き出し(バルーン)のアウトライン終わり*/


.qu-footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button {
    margin: 3%;
    padding: 2%;
}

.qu-btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #171717;
    background-color: #fcd228;
    border-radius: 7px;
    transition: .4s;
    font-weight: bold;
    border: solid 4px #171717;
}

.qu-btn:hover {
    background: #fafafa;
    color: #171717;
}


/* -----starページのCSS----- */
/* -----starページのCSS----- */
.evaluation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.evaluation input[type='radio'] {
    display: none;
}

.evaluation label {
    position: relative;
    padding: 10px 10px 0;
    color: gray;
    cursor: pointer;
    font-size: 50px;
}

.evaluation label .text {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    color: gray;
}

.evaluation label:hover,
.evaluation label:hover~label,
.evaluation input[type='radio']:checked~label {
    color: #ffcc00;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(13, 199, 143);
    display: block;
}

header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0 2px 30px -20px rgba(0, 0, 0, .4);
}

header img {
    position: absolute;
    top: 50%;
    left: 20px;
    height: 45%;
    display: block;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

header span {
    position: absolute;
    top: 50%;
    right: 20px;
    height: 45%;
    display: block;
    font-size: 24px;
    line-height: 1;
    font-weight: 800;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
}

#top_contents {
    position: relative;
    width: 100%;
    height: 800px;
    text-align: center;
    display: block;
}

.top_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.top_inner a {
    display: block;
    padding: 8px 20px;
    margin-top: 30px;
    border: 1px solid rgb(13, 199, 143);
    border-radius: 12px;
    min-width: 240px;
}

#menu {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .95);
    display: block;
    color: #fff;
    transition: .6s ease-in-out;
    -webkit-transition: .6s ease-in-out;
}

.menu_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    display: block;
    width: 280px;
    padding-top: 60px;
    text-align: center;
}

.menu_inner h2 {
    margin-bottom: 20px;
}

.menu_inner ul {
    padding: 0;
}

.menu_inner li {
    width: 100%;
    display: block;
    margin-top: 20px;
    padding: 12px 0;
    border-bottom: 1px solid #fff;
}

.suru {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}