* {
    padding: 0;
    margin: 0;
    width: 100%;
}


/* topページのcss */
body {
    background-color:#ffd000;
}

header.top {
    margin: 10px 0px;
    text-align: center;
    color: #3f3f3f;
}

header.top h1 {
    font-size: 36px;
}

header.top h3 {
    font-size: 20px;
}

.container,footer {
   display: flex;
   justify-content: space-between;
}

.container img {
    width: 70%;
}

button.imgbtn {   
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(134, 114, 1, 0.25);
    outline:none;
    cursor: pointer;
}

button:active {
    box-shadow:none;
    position:relative;
    top:5px;
}

button.imgbtn p {
    margin-top: 3px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #3f3f3f;
}

button.rulebtn {
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #3f3f3f;
    letter-spacing: 0.25em;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(134, 114, 1, 0.25);
    color: #ffd000;
}

/* divタグで書く時の場合
.topimg {
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    background: #fff;
    border-bottom: solid 6px #474747;
    box-shadow: 0 3px 6px rgba(173, 45, 45, 0.25);
}

.topimg p {
    text-align: center;
    font-weight: bold;
    color: #474747;
} */






/* starページのCSS */
.evaluation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.evaluation input[type='radio'] {
    display: none;
}

.evaluation label {
    position: relative;
    padding: 10px 10px 0;
    color: gray;
    cursor: pointer;
    font-size: 50px;
}

.evaluation label .text {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    color: gray;
}

.evaluation label:hover,
.evaluation label:hover~label,
.evaluation input[type='radio']:checked~label {
    color: #ffcc00;
}