{% extends 'index.html'%}
{% block content %}

{% for item in date_list %}
<div class="dates">
    <textarea name="kanso" rows="3" cols="40">{{item["content"]}}</textarea>
    <textarea name="kanso" rows="3" cols="40">{{item["advice"]}}</textarea>
    {{item["star"]}}
    <textarea name="kanso" rows="3" cols="40">{{item["comment"]}}</textarea>
</div>
    <!-- {{item["content"]}}
    {{item["advice"]}}
        {{item["star"]}}
        {{item["comment"]}} -->
{% endfor %}
<a href="/top">topに戻る</a>

{% endblock %}