{% extends 'index.html' %}
{% block content %}



<body class="qubody">


    <!-- <header>
    <h1 class="title">キマズイン</h1>
    <div class="hum_menu">
        <a href="javascript:void(0);">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <ul>
        <li><a href="#sec1" id="menu-sec1">top</a></li>
        <li><a href="#sec2" id="menu-sec2">キマズインとは</a></li>
        <li><a href="#sec3" id="menu-sec3">お問い合わせ</a></li>
        <li><a href="#sec4" id="menu-sec4">よくある質問</a></li>
        <li><a href="#sec5" id="menu-sec5">履歴</a></li>
        <li><a href="#sec6" id="menu-sec6">問いかけ機能の追加・削除</a></li>
    </ul>
</header> -->


<header class="quheader">
    <h1>エレベーター</h1>
</header>


<div class="line-bc"><!--会話全体を囲う-->

    <!--左コメント始-->
    <div class="balloon1">
      <div class="faceicon">
        <img src="../static/css/images/ans-icon.png" alt="">
      </div>
      <div class="chatting">
        <div class="says">
          <p>問いかけ内容が入る。問いかけ内容が入る。問いかけ内容が入る。問いかけ内容が入る。</p>
        </div>
      </div>
    </div>
    <!--/左コメント終-->
  
    <!--右コメント始-->
    <div class="balloon2">
      <p>
      右ふきだし文
      </p>
    </div>
    <!--/③右コメント終-->
    
  </div><!--/①LINE会話終了-->

        
<!-- <div class="question">
    <img src="../static/css/images/hukidasi.png">   
    <p>言葉を使わず動作(ジェスチャー）をしてください。言葉を使わず動作(ジェスチャー）をしてください。</p>
</div>


<div class="answer">
    <p>（ゴルフのスイング、野球のスイング）（ゴルフのスイング、野球のスイング）（ゴルフのスイング、野球のスイング）（ゴルフのスイング、野球のスイング）（ゴルフのスイング、野球のスイング）
    </p>
</div> -->


<footer class="qufooter">
    <button type="button" class="imgbtn" onclick="location.href='/top'">
        <p>TOP</p>
    </button>
    <button type="button" class="imgbtn" onclick="location.href='/question'">
        <p>NEXT</p>
    </button>
    <button type="button" class="imgbtn" onclick="location.href='/star'">
        <p>評価</p>
    </button>
</footer>


</body>

    {% endblock %}