{% extends 'index.html' %}
{% block content %}


<body class="top-body">


    <header class="top-header">
        <h1 class="sp32pc70">キマズイン</h1>
        <h3 class="sp16pc36">社内の人間関係が気まずいときに！</h3>
    </header>



    <div class="contents-wrap">
        <div class="contents-box">
            <a href="/question1"><img src="../static/css/images/img1.png" alt=""></a>
        </div>
        <div class="contents-box">
            <a href="/question2"><img src="../static/css/images/img2.png" alt=""></a>
        </div>
        <div class="contents-box">
            <a href="/question3"><img src="../static/css/images/img3.png" alt=""></a>
        </div>
        <div class="contents-box">
            <a href="/question4"><img src="../static/css/images/img4.png" alt=""></a>
        </div>
        <div class="contents-box">
            <a href="/question5"><img src="../static/css/images/img5.png" alt=""></a>
        </div>
        <div class="contents-box">
            <a href="/question6"><img src="../static/css/images/img6.png" alt=""></a>
        </div>
    </div>



    <footer class="top-footer">
        <a href="#" class="btn-rule sp24pc48">キマズインとは？</a>
    </footer>



</body>


{% endblock %}