{% extends 'index.html' %}
{% block content %}
<body class="topbody">
    <h1 class="toptitle">キマズイン</h1>
    <h3 class="toptitle">社内の人間関係が気まずいときに！</h3>

    <div class="topimg">
        <div class="topimg-icon">
            <img src="/static/css/images/img1.png" alt="">
            <p>エレベーター</p>
        </div>
        <div class="topimg-icon">
            <img src="/static/css/images/img2.png" alt="">
            <p>休憩</p>
        </div>
    </div>
    <div class="topimg">
        <div class="topimg-icon">
            <img src="/static/css/images/img3.png" alt="">
            <p>トイレ</p>
        </div>
        <div class="topimg-icon">
            <img src="/static/css/images/img4.png" alt="">
            <p>食堂</p>
        </div>
    </div>
    <div class="topimg">
        <div class="topimg-icon">
            <img src="/static/css/images/img5.png" alt="">
            <p>飲み会</p>
        </div>
        <div class="topimg-icon">
            <img src="/static/css/images/img6.png" alt="">
            <p>駅</p>
        </div>
    </div>


</body>
{% endblock %}