{% extends 'index.html' %}
{% block content %}


<body class="top">

    <header class="top">
        <h1>キマズイン</h1>
        <h3>社内の人間関係が気まずいときに！</h3>
    </header>    


<div class="container">
    <button type="button" class="imgbtn" onclick="">
        <img src="/static/css/images/img1.png">
        <p>エレベーター</p>
    </button>
    <button type="button" class="imgbtn" onclick="">
        <img src="/static/css/images/img2.png">
        <p>休憩室</p>
    </button>
</div>
<div class="container">
    <button type="button" class="imgbtn" onclick="">
        <img src="/static/css/images/img3.png">
        <p>トイレ</p>
    </button>
    <button type="button" class="imgbtn" onclick="">
        <img src="/static/css/images/img4.png">
        <p>食堂</p>
    </button>
</div>
<div class="container">
    <button type="button" class="imgbtn" onclick="">
        <img src="/static/css/images/img5.png">
        <p>飲み会</p>
    </button>
    <button type="button" class="imgbtn" onclick="">
        <img src="/static/css/images/img6.png">
        <p>最寄り駅</p>
    </button>
</div>


<!-- ボタンタグではなくdivタグで記載する場合
<div class="container">
    <div class="topimg">
        <img src="/static/css/images/img3.png">
        <p>トイレ</p>
    </div>
    <div class="topimg">
        <img src="/static/css/images/img4.png">
        <p>食堂</p>
    </div>
</div> -->


<footer>
    <button type="button" class="rulebtn">キマズインとは？</button>
</footer>

{% endblock %}